In [55]:
import xml.etree.ElementTree as ET
import csv
import pandas as pd

In [56]:
xml_data = pd.read_xml("andre.xml")
xml_data.head(3)

,series_animedb_id,series_title,series_type,series_episodes,my_id,my_watched_episodes,my_start_date,my_finish_date,my_rated,my_score,...,my_comments,my_times_watched,my_rewatch_value,my_priority,my_tags,my_rewatching,my_rewatching_ep,my_discuss,my_sns,update_on_import
0,52034,"""Oshi no Ko""",TV,11,0,11,0000-00-00,2023-07-19,NaN,9,...,NaN,0,NaN,LOW,None,0,0,1,default,0
1,55791,"""Oshi no Ko"" Season 2",TV,0,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,None,0,0,1,default,0
2,41380,100-man no Inochi no Ue ni Ore wa Tatteiru,TV,12,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,None,0,0,1,default,0

In [57]:
xml_data['user_id'] = 786

In [58]:
df = xml_data[["user_id", "series_animedb_id", "my_score"]]
df.columns = ["user_id", "anime_id", "rating"]
df

     user_id  anime_id  rating
0        786     52034       9
1        786     55791       0
2        786     41380       0
3        786     44881       0
4        786     31646       9
..       ...       ...     ...
835      786      3712       1
836      786      5764       2
837      786      5300       0
838      786     36999       0
839      786     54112       6

[840 rows x 3 columns]

In [59]:
df.to_csv("andre.csv", index=False)