In [2]:
import pandas as pd
from tensorflow.keras import layers, models
import pickle

### Model

In [ ]:
model = models.Sequential()
model.add(layers.Dense(4000, input_shape=(4697,) ,activation="tanh"))
model.add(layers.Dense(4000, activation="tanh"))
model.add(layers.Dense(4000, activation="tanh"))
model.summary()

In [ ]:
df = pd.read_csv("./data/10k_users.csv")[["user_id", "anime_id", "rating"]]
df.head(10)

In [ ]:
len(df.user_id.unique())
len(df.anime_id.unique())

In [3]:
user_item_matrix = df.groupby(['user_id', 'anime_id'])['rating'].mean().unstack(fill_value=0)
user_item_matrix

NameError: name 'df' is not defined

In [ ]:
user_item_matrix.to_pickle("useritem.pkl")

In [4]:
user_item_matrix = pd.read_pickle("useritem.pkl")
user_item_matrix

anime_id,1,5,6,7,8,15,16,17,18,19,...,47160,47164,47398,47616,47778,48413,48417,48438,48456,48488
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353402,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353403,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df = pd.DataFrame()

In [5]:
normalized_user_item_matrix = pd.DataFrame(index=user_item_matrix.index, columns=user_item_matrix.columns)

for idx in user_item_matrix.index:
    row_values = user_item_matrix.loc[idx]
    min_value = row_values.min()
    max_value = row_values.max()
    normalized_values = row_values.apply(lambda x: 0 if x == 0 else (x - min_value) / (max_value - min_value) * 2 - 1)
    normalized_user_item_matrix.loc[idx] = normalized_values

normalized_user_item_matrix_array = normalized_user_item_matrix.to_numpy()
normalized_user_item_matrix_array

:

In [ ]:
user_item_matrix