In [1]:
import pandas as pd

In [2]:
main = pd.read_csv("data_anime_clean.csv")
df = pd.read_csv("anime_with_synopsis.csv")

main.head(3), df.head(3)

(   Id                             Name Score  \
 0   1                     Cowboy Bebop  8.78
 1   5  Cowboy Bebop: Tengoku no Tobira  8.39
 2   6                           Trigun  8.24

                                               Genres                 English  \
 0    Action, Adventure, Comedy, Drama, Sci-Fi, Space            Cowboy Bebop
 1              Action, Drama, Mystery, Sci-Fi, Space  Cowboy Bebop:The Movie
 2  Action, Sci-Fi, Adventure, Comedy, Drama, Shounen                  Trigun

     Type Episodes               Producers  \
 0     TV       26           Bandai Visual
 1  Movie        1  Sunrise, Bandai Visual
 2     TV       26    Victor Entertainment

                               Licensors   Studios  ... Rating Ranked  \
 0      Funimation, Bandai Entertainment   Sunrise  ...  R-17+     28
 1           Sony Pictures Entertainment     Bones  ...  R-17+    159
 2  Funimation, Geneon Entertainment USA  Madhouse  ...  PG-13    266

   Popularity  Members  Favorites  Min_Duration  Aired_Start     Aired_End  \
 0         39  1251960      61971          24.0  Apr 3, 1998  Apr 24, 1999
 1        518   273145       1174         115.0  Sep 1, 2001       Unknown
 2        201   558913      12944          24.0  Apr 1, 1998  Sep 30, 1998

   Premiered_Year Premiered_Season
 0           1998           Spring
 1        Unknown          Unknown
 2           1998           Spring

 [3 rows x 22 columns],
    MAL_ID                             Name Score  \
 0       1                     Cowboy Bebop  8.78
 1       5  Cowboy Bebop: Tengoku no Tobira  8.39
 2       6                           Trigun  8.24

                                               Genres  \
 0    Action, Adventure, Comedy, Drama, Sci-Fi, Space
 1              Action, Drama, Mystery, Sci-Fi, Space
 2  Action, Sci-Fi, Adventure, Comedy, Drama, Shounen

                                            sypnopsis
 0  In the year 2071, humanity has colonized sever...
 1  other day, another bounty—such is the life of ...
 2  Vash the Stampede is the man with a $$60,000,0...  )

In [19]:
new_df = main[["Id", "Type", "Episodes", "Studios", "Members"]]
new_df

          Id     Type Episodes         Studios  Members
0          1       TV       26         Sunrise  1251960
1          5    Movie        1           Bones   273145
2          6       TV       26        Madhouse   558913
3          7       TV       26         Sunrise    94683
4          8       TV       52  Toei Animation    13224
...      ...      ...      ...             ...      ...
14589  56402  Special        1     ABJ COMPANY      468
14590  48228       TV       39         Unknown      120
14591  51035      ONA        6         Unknown      887
14592  55042      ONA        1       Signal.MD      215
14593  49991      ONA       50     Piso Studio      174

[14594 rows x 5 columns]

In [24]:
df.head(1)

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."

In [25]:
new_df.head(1)

   Id Type Episodes  Studios  Members
0   1   TV       26  Sunrise  1251960

In [28]:
final_df = new_df.merge(df, how="inner", left_on="Id", right_on="MAL_ID")

In [43]:
final_df["Studios"] = final_df["Studios"].apply(lambda x: x.split(",")[0])
final_df.drop(["MAL_ID"], axis=1, inplace=True)

KeyError: "['MAL_ID'] not found in axis"

In [44]:
final_df = final_df[final_df["Members"] > 10000]

In [45]:
final_df.iloc[1000:]

,Id,Type,Episodes,Studios,Members,Name,Score,Genres,sypnopsis
1623,1943,Movie,1,Madhouse,366533,Paprika,8.06,"Dementia, Fantasy, Horror, Mystery, Psychologi...",The world of dreams can be an incredible windo...
1624,1944,OVA,6,AIC,12060,Photon,7.07,"Action, Adventure, Comedy, Drama, Ecchi, Mecha...",Photon Earth is a young and gentle boy with su...
1625,1946,TV,50,Toei Animation,24551,Ashita no Nadja,7.59,"Adventure, Drama, Historical, Romance, Shoujo",This story takes place about one hundred years...
1628,1951,Movie,3,Madhouse,23338,Manie-Manie: Meikyuu Monogatari,7.05,"Adventure, Fantasy, Horror, Sci-Fi, Supernatural",anie-Manie: Meikyuu Monogatari is an anthology...
1629,1952,OVA,4,Madhouse,14456,Vampire Hunter,6.63,"Action, Adventure, Supernatural, Drama, Vampir...","The world is a dark, brooding place populated ..."
...,...,...,...,...,...,...,...,...,...
13167,48413,TV,Unknown,Unknown,74069,Hataraku Maou-sama! 2nd Season,Unknown,"Comedy, Demons, Supernatural, Romance, Fantasy",Second season of Hataraku Maou-sama!
13169,48417,TV,Unknown,SILVER LINK.,41425,Maou Gakuin no Futekigousha: Shijou Saikyou no...,Unknown,"Magic, Fantasy, School",Second season of Maou Gakuin no Futekigousha: ...
13171,48438,OVA,3,Studio Kafka,13493,Mahoutsukai no Yome: Nishi no Shounen to Seira...,Unknown,"Slice of Life, Magic, Fantasy, Shounen",The story takes place shortly before Cartaphil...
13172,48456,Special,1,Bones,10722,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",cap of the first 9 episodes of SK∞ .
13177,48488,TV,Unknown,Unknown,11309,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Sequel to Higurashi no Naku Koro ni Gou .

In [46]:
final_df.to_csv("final.csv", index=False)